<footer class="footer app__container2">
      <div class="grid wide">
        <div class="row no-gutters">
          <div class="col l-2-4 m-5 c-5">
            <div class="footer-header">
              <div class="footer-menu">
                <div class="footer-menu-title">Chăm sóc khách hàng</div>
                <ul class="footer-menu-list">
                  <li class="footer-menu-link">
                    <a href="" class="footer-menu-click">Trung tâm trợ giúp</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="" class="footer-menu-click">Hướng dẫn mua hàng</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="" class="footer-menu-click">Chính sách vận chuyển</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col l-2-4 m-5 c-5">
            <div class="footer-header">
              <div class="footer-menu">
                <div class="footer-menu-title">Về chúng tôi</div>
                <ul class="footer-menu-list">
                  <li class="footer-menu-link">
                    <a href="" class="footer-menu-click">Tuyển dụng</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="" class="footer-menu-click">Điều khoản chính sách</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col l-2-4 m-5 c-5">
            <div class="footer-header">
              <div class="footer-menu">
                <div class="footer-menu-title">Danh mục sản phẩm</div>
                <ul class="footer-menu-list">
                  <li class="footer-menu-link">
                    <a href="#snacks" class="footer-menu-click">Đồ ăn vặt</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="#watergas" class="footer-menu-click">Nước uống có gas</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="#school" class="footer-menu-click">Đồ dùng học tập</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col l-2-4 m-5 c-5">
            <div class="footer-header">
              <div class="footer-menu">
                <div class="footer-menu-title">Theo dõi tôi trên</div>
                <ul class="footer-menu-list">
                  <li class="footer-menu-link">
                    <i class="footer-icon fab fa-facebook"></i>
                    <a href="https://www.facebook.com/profile.php?id=100032050028679" class="footer-menu-click">Facebook</a>
                  </li>
                  <li class="footer-menu-link">
                    <i class="footer-icon fab fa-instagram"></i>
                    <a href="https://www.instagram.com/ducpham0711/" class="footer-menu-click">Intagram</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col l-2-4 m-5 c-5">
            <div class="footer-header">
              <div class="footer-menu">
                <div class="footer-menu-title">Công nghệ sử dụng</div>
                <ul class="footer-menu-list">
                  <li class="footer-menu-link">
                    <a href="https://nodejs.org" class="footer-menu-click">Nodejs</a>
                  </li>
                  <li class="footer-menu-link">
                    <a href="https://www.mongodb.com" class="footer-menu-click">Mongodb</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid wide">
        <div class="row no-gutters">
          <div class="col l-12 c-12 m-12">
            <div class="footer-end">
              <div class="footer-text-list">
                <div class="footer-text">
                  <p class="footer-text-name-shop">Cửa hàng tạp hóa Khuyên Hoa</p>
                  <p class="footer-text-name-address">Định Thành, Yên Định, Thanh Hóa</p> 
                </div>
              </div>
              <div class="cau-cuoi">Cửa hàng Khuyên Hoa hân hạnh được phục vụ bạn - Bản quyền Website thuộc về chúng tôi !</div>
            </div>
          </div>
        </div>
      </div>
    </footer>